System requirements
  non-functional
    Usability: Most users don't have much of a technical background but should still be able to use all functionality of our software. The software reuses common patterns for user interactions from other software our customers use often.
    Offline availability: Doctors must always be able to give medication and to do so they have to be able to check what medication a patient needs. Therefore they must be able to access patient data even when they can't connect to the server.
    Data persistence: data must always be intact.
      archive/history: older versions of the data must be available to eg. undo unauthorised changes
      backup: in case of any kind of dammage of the server/data center there needs to be an external backup
      locking: when a user is editing data the case must be locked to prevent conflicts (several users editing the same document)
      data protection: patient data is sensitive and needs strict protection
        access control: users permissions need to be checked before they can access data
      remote access: the system must be accessible remotely (eg. when doctors are doing housecalls)
    Logging: access and changes must be logged
  
  functional
    user management: to fulfill the non-functional requirement data protection a users and userrights must be managed
    patient management: patients and their medication must be managed
    calendar: appointments have to be magageable
    therapy notes: The doctor has to be able to store and read notes from therapy sessions
    search: users should have the possibility to search data of any kind (patients, therapy notes, calendar entrys)
    printing: patient data, calendar entrys and therapy notes must be printable
